concurrent-log-handler==0.9.25
sanic==23.6.0
sanic_ext==23.6.0
onnxruntime==1.17.1
numpy==1.24.3
transformers==4.41.0
langchain-core==0.1.50
langchain==0.1.9
langchain-openai==0.0.8
langchain_elasticsearch==0.2.2
mysql-connector-python==8.2.0
pymilvus==2.4.2